version: '3.8'

services:
  api:
    build: .
    container_name: smart-shop-api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - ./uploads:/app/uploads
  mongo:
    image: mongo:6
    container_name: smart-shop-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
